<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registracija</title>
</head>
<body>
    <h1>Registracija uporabnika</h1>
    <form action="{{ url_for('register_user') }}" method="POST">
        <label for="username">Uporabniško ime:</label>
        <input type="text" id="username" name="username" required><br>

        <label for="password">Geslo:</label>
        <input type="password" id="password" name="password" required><br>

        <input type="submit" value="Registriraj se">
    </form>
    <p>Imate že račun? <a href="{{ url_for('login_user') }}">Prijavite se tukaj</a></p>

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <ul>
            {% for category, message in messages %}
                <li class="{{ category }}">{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
</body>
</html>