<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Events</title>
</head>
<body>
    <h2>Seznam dogodkov</h2> 
    
    <form action="{{ url_for('search_courts', place_name=place_name) }}" method="get" style="margin-bottom: 20px;">
        <button type="submit">Nazaj na iskanje igrišč</button>
    </form>

    <ul>
        {% for event in events %}
            <li>
                <strong>{{ event['event_name'] }}</strong><br>
                Datum: {{ event['event_date'] }}<br>
                Igrišče: {{ event['court_name'] }}<br>
                {% if event['fee'] %}
                    <p>Prijavnina: {{ event['fee'] }} €</p>
                {% else %}
                    <p>Prijavnina ni določena.</p>
                {% endif %}

                <form action="{{ url_for('event_registration', event_name=event['event_name']) }}" method="get" style="margin-bottom: 5px;">
                    <button type="submit">Prijavi se na dogodek</button>
                </form>

                <form action="{{ url_for('event_participation', event_name=event['event_name']) }}" method="get" style="margin-bottom: 5px;">
                    <button type="submit">Prikaži udelženci</button>
                </form>

                <form action="{{ url_for('delete_event', event_name=event['event_name']) }}" method="post">
                    <button type="submit" onClick="return confirm('Ali ste prepričani, da želite izbrisati ta dogodek?');">
                        Izbriši dogodek
                    </button>
                </form>

                <hr>
            </li>
        {% endfor %}
    </ul>
</body>
</html>
