<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Event participants</title>
</head>
<body>
    <h2>Udeleženci dogodka: {{ event_name }}</h2>

    {% if fee %}
        <p><strong>Prijavnina:</strong> {{ fee }} €</p>
    {% else %}
        <p>Prijavnina ni določena za ta dogodek.</p>
    {% endif %}

    <ul>
        {% for participant in participants %}
            <li>{{ participant.full_name }}
                (Starost : {{ participant.age }},
                Tel: {{ participant.phone }},
                Prijavnina: {{ participant.fee }} €)
            </li>
        {% else %}
            <li>Ni prijavljenih udeležencev.</li>
        {% endfor %}
    </ul>

    <br>
    <a href="{{ url_for('view_events') }}">
        <button>Nazaj na dogodke</button>
    </a>
</body>
</html>
