<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registracija</title>
</head>
<body>
    <h2>Registracija</h2>
    <form method="post">
        <input type="text" name="username" placeholder="Uporabniško ime" required>
        <input type="password" name="password" placeholder="Geslo" required>
        <button type="submit">Registracija</button>
    </form>
    <a href="{{ url_for('login_user') }}">Nazaj na prijavo</a>
</body>
</html>